<mat-card class="main-card center-wrapper">
  <!-- Header della tabella -->
  <div *ngIf="header" class="table-header">
    <h3>{{ header.title }}</h3>
    <div class="button-header">
      <ng-container *ngFor="let button of header.buttons">
        <ng-container *ngIf="button.isMenu && button.showCondition()">
          <app-menu-button
            [label]="button.label"
            [menuItems]="button.menuItems"
          ></app-menu-button>
        </ng-container>
        <ng-container *ngIf="!button.isMenu">
          <button
            *ngIf="button.showCondition()"
            mat-flat-button
            color="primary"
            (click)="button.action()"
          >
            {{ button.label }}
          </button>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="table fixed-layout" matSort>
      <ng-container
        *ngFor="let entry of displayedColumns | keyvalue"
        [matColumnDef]="entry.key"
      >
        <mat-header-cell *matHeaderCellDef>
          {{ entry.value }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row[entry.key] }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" *ngIf="actions?.length">
        <mat-header-cell *matHeaderCellDef>Azioni</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngFor="let action of actions">
            <button
              mat-mini-fab
              *ngIf="action.showCondition(element)"
              (click)="action.action(element)"
              matTooltip="{{ action.label }}"
            >
              <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="allColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: allColumns"></tr>
    </table>
  </div>
  <div *ngIf="!data || data.length === 0" class="mt-2 text-center">
    Non ci sono elementi da visualizzare
  </div>
</mat-card>
